<mat-nav-list>
  <a mat-list-item (click)="selectAction('COPY_LINK')">
    <span matListItemTitle class="title"
      ><mat-icon class="action-icon">share</mat-icon> Convidar participantes</span
    >
    <span matLine class="line"
      >Copie o link desta sala e compartilhe com sua equipe.</span
    >
  </a>

  <a mat-list-item (click)="selectAction('NEXT_ACTIVITIES')">
    <span matListItemTitle
      ><mat-icon class="action-icon">visibility</mat-icon> Próximas
      atividades</span
    >
    <span matLine
      >Visualizar as próximas atividades disponíveis para a votação.</span
    >
  </a>

  <a mat-list-item (click)="selectAction('CLOSE_ROOM')">
    <span matListItemTitle
      ><mat-icon class="action-icon">cancel</mat-icon> Encerrar sala</span
    >
    <span matLine
      >Encerrar a votação para todos os participantes e fechar a sala.</span
    >
  </a>
</mat-nav-list>
