mat-icon {
  color: var(--primary);
}

.mat-icon {
  height: 45px;
  width: 45px;
}

.material-icons {
  font-size: 45px;
}

.uboard-empty-table-warning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.uboard-empty-table-warning-message {
  color: var(--black-secondary) !important;
}
