<section class="container">
  <app-page-title
    title="Credenciais"
    description="Gerencie as credenciais cadastradas, ou crie novas credenciais para seus projetos."
  ></app-page-title>

  <mat-card appearance="outlined" class="credentials-table">
    <mat-card-content>
      <div class="add-credential-button">
        <button
          mat-fab
          extended
          class="button-primary"
          routerLink="/credentials/new-credential"
          routerLinkActive="active"
        >
          <mat-icon>add</mat-icon> Nova credencial
        </button>
      </div>

      <app-custom-input-filter
        (onFilterChange)="applyFilter($event)"
        placeholder="Ex. Minha Credencial"
        label="Pesquisar..."
      ></app-custom-input-filter>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="credentialsTableDataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef>URL</th>
            <td mat-cell *matCellDef="let element">{{ element.url }}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Data de criação</th>
            <td mat-cell *matCellDef="let element">
              {{ element.createdAt | date : "dd/MM/yyyy HH:mm:ss" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element">
              <app-uboard-button
                icon="delete"
                buttonStyle="danger"
                tooltip="Excluir"
                (click)="deleteCredential(element)"
              ></app-uboard-button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        @if (!hasItems()) {
        <app-empty-table-message
          message="Não existem credenciais para exibir!"
        />
        }
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</section>
<router-outlet />
