<section class="container">
  <app-uboard-page-title
    titleTranslateKey="pages.title.CREDENTIALS"
    descriptionTranslateKey="pages.description.CREDENTIALS"
  />

  <div class="credentials-table">
    <p-card>
      <div class="table-actions">
        <app-uboard-button-with-icon
          label="actions.NEW_CREDENTIAL"
          buttonStyle="primary"
          icon="add"
          (click)="openCreateCredentialDialog()"
        />

        <app-uboard-button-with-icon
          label="commons.REFRESH"
          buttonStyle="primary"
          icon="cached"
          (click)="refreshCredentials()"
        />

        <app-uboard-button-with-icon
          label="commons.DELETE"
          buttonStyle="danger"
          icon="delete"
          (click)="deleteCredentials()"
          *ngIf="selectedCredentials && selectedCredentials.length > 0"
        />
      </div>

      <p-table
        [value]="credentials"
        [lazy]="true"
        dataKey="uuid"
        [paginator]="true"
        [rows]="pageSize"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [totalRecords]="totalElements"
        (onLazyLoad)="listCredentialsAsPage($event)"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedCredentials"
      >
        <ng-template #header>
          <tr>
            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
            <th>{{ "commons.NAME" | translate }}</th>
            <th>{{ "commons.URL" | translate }}</th>
            <th>{{ "commons.TYPE" | translate }}</th>
            <th>{{ "commons.CREATED_AT" | translate }}</th>
          </tr>
          <tr>
            <th></th>
            <th>
              <p-columnFilter
                field="name"
                matchMode="contains"
                [showMenu]="false"
                [showClearButton]="true"
                (onClear)="clearFilter('name')"
              >
                <ng-template #filter let-value let-filter="filterCallback">
                  <input
                    type="text"
                    pInputText
                    [(ngModel)]="credentialsTableFilters.name"
                    (ngModelChange)="updateFilter('name', $event)"
                    placeholder="{{ 'search.BY_NAME' | translate }}"
                  />
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                field="url"
                matchMode="contains"
                [showMenu]="false"
                (onClear)="clearFilter('url')"
              >
                <ng-template #filter let-value let-filter="filterCallback">
                  <input
                    type="text"
                    pInputText
                    [(ngModel)]="credentialsTableFilters.url"
                    (ngModelChange)="updateFilter('url', $event)"
                    placeholder="{{ 'search.BY_URL' | translate }}"
                  />
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                field="type"
                matchMode="equals"
                [showMenu]="false"
                (onClear)="clearFilter('type')"
              >
                <ng-template #filter let-value let-filter="filterCallback">
                  <p-select
                    [(ngModel)]="credentialsTableFilters.type"
                    [options]="credentialTypes"
                    (onChange)="updateFilter('type', $event.value)"
                    placeholder="{{ 'commons.SELECT' | translate }}"
                    [showClear]="true"
                  >
                    <ng-template let-credentialType #item>
                      {{ credentialType }}
                    </ng-template>
                  </p-select>
                </ng-template>
              </p-columnFilter>
            </th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-credential>
          <tr>
            <td>
              <p-tableCheckbox [value]="credential" />
            </td>
            <td>
              {{ credential.name }}
            </td>
            <td>
              {{ credential.url }}
            </td>
            <td>
              {{ credential.type }}
            </td>
            <td>
              {{ credential.createdAt | date : "dd/MM/yyyy HH:mm:ss" }}
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="5">
              @if (!hasItems() && !isLoadingCredentials) {
              <app-uboard-empty-table-warning
                translateKey="empty.THERE_IS_NO_CREDENTIALS_TO_SHOW"
              />
              } @if (isLoadingCredentials) {
              <app-uboard-spinner translateKey="loading.LOADING_CREDENTIALS" />
              }
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</section>
<router-outlet />
