.credentials-table {
  margin-top: 3%;
}

.table-actions {
  margin-bottom: 2%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.credentials-loader {
  margin-top: 3%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-credential-form-body {
  margin-top: 3%;
  width: 100%;

  input,
  p-select {
    width: 100%;
  }
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 3%;
}

.form-field-error {
  font-size: 14px !important;
  color: var(--mat-sys-error);
  margin-bottom: 2%;
}
