@use "@angular/material" as mat;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 22px !important;
  color: var(--black-secondary);
}

p {
  font-size: 16px !important;
}

.button-primary {
  background-color: var(--mat-sys-primary) !important;
  color: var(--mat-sys-on-primary) !important;
}

.button-primary,
.button-danger {
  mat-icon {
    color: var(--white) !important;
  }
}

.button-danger {
  background: var(--mat-sys-error) !important;
  color: var(--white) !important;
}

.button-secondary {
  background-color: var(--grey) !important;
  color: var(--white) !important;
}

.mat-mdc-menu-content {
  background-color: var(--white) !important;
}

span.mdc-list-item__content {
  padding-top: 5px !important;
}

:root {
  @include mat.bottom-sheet-overrides(
    (
      container-background-color: #fff,
    )
  );

  @include mat.table-overrides(
    (
      row-item-outline-color: #ccc,
    )
  );
}
