.voters-table {
  margin-top: 3%;
}

.show-hide-votes-button {
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-end;
}

.container {
  .header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.administrator-actions {
  display: flex;
  gap: 10px;
}

.closing-room {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;

  mat-spinner {
    margin-right: 10px;
  }
}

.available-points {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

