<section class="container">
  <app-page-title
    title="{{ roomName }}"
    description="Identificador da sala: {{ roomId }}"
  ></app-page-title>

  @for(availablePoint of availablePoints; track availablePoint) {
  <button
    mat-fab
    extended
    class="button-primary"
    (click)="submitVote(availablePoint)"
  >
    {{ availablePoint }}
  </button>
  }

  <div class="container">
    <mat-card appearance="outlined" class="voters-table">
      <mat-card-content>
        <div class="show-hide-votes-button">
          @if (areVotesDisplayed()) {
          <button
            mat-fab
            extended
            class="button-primary"
            (click)="changeDisplayStatusOfVotes()"
          >
            <mat-icon>visibility_off</mat-icon> Esconder votos
          </button>
          } @else {
          <button
            mat-fab
            extended
            class="button-primary"
            (click)="changeDisplayStatusOfVotes()"
          >
            <mat-icon>visibility</mat-icon> Exibir votos
          </button>
          }
        </div>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="votesTableDataSource">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Participante</th>
              <td mat-cell *matCellDef="let element">{{ element.username }}</td>
            </ng-container>

            <ng-container matColumnDef="vote">
              <th mat-header-cell *matHeaderCellDef>Pontuação</th>
              <td mat-cell *matCellDef="let element">
                @if (!areVotesDisplayed() && element.vote != null &&
                element.vote) {
                <mat-icon>checked_circle</mat-icon>
                } @else if (areVotesDisplayed()) {
                {{ element.vote != null && element.vote ? element.vote : "-" }}
                } @else {
                <mat-spinner diameter="24"></mat-spinner>
                }
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
