@if (!scrumPokerRoomData.closed && roomIsAvailable) {
<section class="container">
  <div class="header-items">
    <div>
      <app-page-title
        title="{{ scrumPokerRoomData.name }}"
        description="Identificador da sala: {{ scrumPokerRoomData.uuid }}"
      ></app-page-title>
    </div>
    <div *ngIf="canViewAdministratorActions()" class="administrator-actions">
      <button
        mat-fab
        extended
        class="button-primary"
        (click)="openBottomSheet()"
      >
        <mat-icon>arrow_drop_down</mat-icon> Ações
      </button>
    </div>
  </div>

  <div class="container available-points">
    @for(availablePoint of availablePoints; track availablePoint) {
    <app-vote-card
      [value]="availablePoint"
      [selected]="currentVote === availablePoint"
      (voteSelected)="submitVote($event)"
    >
    </app-vote-card>
    }
  </div>

  <div class="container">
    <mat-card appearance="outlined" class="voters-table">
      <mat-card-content>
        <div
          class="show-hide-votes-button"
          *ngIf="canViewAdministratorActions()"
        >
          @if (areVotesDisplayed()) {
          <button
            mat-fab
            extended
            class="button-primary"
            (click)="changeDisplayStatusOfVotes()"
          >
            <mat-icon>visibility_off</mat-icon> Esconder votos
          </button>
          } @else {
          <button
            mat-fab
            extended
            class="button-primary"
            (click)="changeDisplayStatusOfVotes()"
          >
            <mat-icon>visibility</mat-icon> Exibir votos
          </button>
          }
        </div>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="votesTableDataSource">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Participante</th>
              <td mat-cell *matCellDef="let element">{{ element.username }}</td>
            </ng-container>

            <ng-container matColumnDef="vote">
              <th mat-header-cell *matHeaderCellDef>Pontuação</th>
              <td mat-cell *matCellDef="let element">
                @if (!areVotesDisplayed() && element.vote != null &&
                element.vote) {
                <mat-icon>checked_circle</mat-icon>
                } @else if (areVotesDisplayed()) {
                {{ element.vote != null && element.vote ? element.vote : "-" }}
                } @else {
                <mat-spinner diameter="24"></mat-spinner>
                }
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
} @else if (scrumPokerRoomData.closed ){

<div class="closing-room">
  <mat-spinner diameter="32"></mat-spinner>
  <h1>Fechamento da sala em progresso...</h1>
</div>
} @else if (!roomIsAvailable) {
<div class="closing-room">
  <mat-spinner diameter="32"></mat-spinner>
  <h1>
    A sala não existe ou foi fechada por um administrador. Você será
    redirecionado em breve...
  </h1>
</div>
}
