<section>
  <h2 mat-dialog-title>Criar nova credencial</h2>
  <form [formGroup]="newCredentialForm">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Apelido para a credencial</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          [errorStateMatcher]="matcher"
          placeholder="Minha credencial"
        />
        @if (newCredentialForm.get('name')?.hasError('required')) {
        <mat-error>Este campo é obrigatório</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo de credencial</mat-label>
        <mat-select formControlName="type">
          @for (availableCredentialType of availableCredentialTypes; track
          availableCredentialType) {
          <mat-option [value]="availableCredentialType.value"
            >{{ availableCredentialType.label }}</mat-option
          >
          }
        </mat-select>
        @if (newCredentialForm.get('type')?.hasError('required')) {
        <mat-error>Este campo é obrigatório</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input
          type="text"
          matInput
          formControlName="url"
          [errorStateMatcher]="matcher"
          placeholder="Ex. https://gitlab.com"
        />
        @if (newCredentialForm.get('url')?.hasError('required')) {
        <mat-error>Este campo é obrigatório</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Token</mat-label>
        <input
          type="password"
          matInput
          formControlName="token"
          [errorStateMatcher]="matcher"
          placeholder="Ex. glpat_***"
        />
        @if (newCredentialForm.get('token')?.hasError('required')) {
        <mat-error>Este campo é obrigatório</mat-error>
        }
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-fab extended (click)="onNoClick()" class="button-secondary">
        Cancelar
      </button>
      <button
        mat-fab
        extended
        (click)="createCredential()"
        cdkFocusInitial
        class="button-primary"
        [disabled]="!newCredentialForm.valid"
      >
        Criar
      </button>
    </mat-dialog-actions>
  </form>
</section>
