form {
  margin-top: 3%;
  div:nth-child(n + 2) {
    margin-top: 2%;
  }
}

mat-card {
  margin-top: 2%;
}

mat-card-header {
  margin-bottom: 1%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

div.group-input {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}
