<section class="container">
  <app-page-title
    title="Nova credencial"
    description="Crie uma nova credencial para gerenciar seus projetos."
  ></app-page-title>

  <form [formGroup]="newCredentialForm">
    <mat-card>
      <mat-card-header>
        <h1>Informações gerais</h1>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input
              type="text"
              matInput
              formControlName="name"
              [errorStateMatcher]="matcher"
              placeholder="Ex. Minha credencial"
            />
            @if (newCredentialForm.get('name')?.hasError('required')) {
            <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-header> <h1>Informações do repositório</h1> </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Tipo de credencial</mat-label>
            <mat-select formControlName="type">
              @for (availableCredentialType of availableCredentialTypes; track
              availableCredentialType) {
              <mat-option [value]="availableCredentialType.value">{{
                availableCredentialType.label
              }}</mat-option>
              }
            </mat-select>
            @if (newCredentialForm.get('type')?.hasError('required')) {
            <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="group-input">
          <mat-form-field>
            <mat-label>URL</mat-label>
            <input
              type="text"
              matInput
              formControlName="url"
              [errorStateMatcher]="matcher"
              placeholder="Ex. https://gitlab.com"
            />
            @if (newCredentialForm.get('url')?.hasError('required')) {
            <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Token</mat-label>
            <input
              type="text"
              matInput
              formControlName="token"
              [errorStateMatcher]="matcher"
              placeholder="Ex. glpat_***"
            />
            @if (newCredentialForm.get('token')?.hasError('required')) {
            <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="form-actions">
      <button
        mat-fab
        extended
        class="button-primary"
        (click)="createCredential()"
      >
        <mat-icon>check</mat-icon> Salvar
      </button>
    </div>
  </form>
</section>
